* {
	margin: 0%;
	padding: 0%;
	font-family: 'Amatic SC', cursive;
	height:auto;
	width: 100%;
	
}
body {
	background-image: url('images/worldmap.jpg');
	background-position: top-left;
	background-attachment: fixed;
}
h1 {
	text-align: center;
	font-size: 500%;
	font-weight: 700;
	color: white;
	width: 100%;
	background-color: #709330;
	margin: 0%;
}
small {
	text-shadow: none;
}
.page-header {
	height: auto;
	margin: 0%;
	padding: 1.5%;
	border: 0%;
	background-color: #709330;
}
a {
	transition: 0.5s;
	color: white;
	text-shadow: #444444 2px 4px 6px;
	outline: none;
}
a:hover {
	transition: 0.5s;
	text-decoration: none;
	color: #dddddd;
	text-shadow: #111111 2px 4px 8px;
	outline: none;
}
footer {
	position: fixed;
	top: 95%;
	height:5%;
	float: left;
	color: white;
	font-weight: 400;
	font-size: 150%;
}
#container {
	width: 80%;
	border-radius: 2%;
	background-color: rgba(112,147,48,0.8);
	margin: 3% auto;
	color: white;
	font-size: 150%;
	text-align: center;
	padding:3% 3% 0% 3%;
	box-shadow: black 6px 10px 16px;
}
strong {
 	text-decoration: underline;
}
ul, ol {
	margin-left: 3%;
	text-align: justify;
}
i {
	width: 2%;
	float: left;
	margin: 1% 15.6% 1% 15.6%;
}
@media only screen and (max-width: 768px) {
	#container {
	width: 95%;
	border-radius: 2%;
	background-color: rgba(112,147,48,0.8);
	margin: 3% auto;
	color: white;
	font-size: 120%;
	text-align: center;
	padding:2% 2% 0% 2%;
}
	footer {
		font-size: 100%;
		top: 97%;
	}
	h1 {
		font-size: 350%;
	}
}




